<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (numberLeak)="onNumberReceived($event)"></app-game-control>
      <ul class="list-group" style="margin-top: 10px;">
        <li class="list-group-item"
            *ngFor="let num of numArrays">
          <app-even
            *ngIf="num % 2 === 0; else oddNum"
            [num]="num"
            style="color: cornflowerblue"
            >Even num: {{ num }}</app-even>
          <ng-template #oddNum>
            <app-odd
              [num]="num"
              style="color: coral"
            >Odd num: {{ num }}
            </app-odd>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</div>
